@using System.Data;
@{
    ViewBag.Title = "新闻网站";
    Layout = "~/Views/shared/_LayoutPage1.cshtml";
}

<link href="~/CSS/article.css" rel="stylesheet" />

<div class="maintitle">新闻网站</div>
<div class="nav">
    <span>您现在的位置：</span>
    <a href="/NewsWebsite/home/Index">首页</a>
</div>
<div class="title">
    <div class="mtitle">
        <a>

        </a>
    </div>
    <div class="ltitle">
        <span>新闻类别：</span>
        <a></a>
    </div>
</div>
<div class="article">

</div>
<div class="commentarea">
    <h3>评论</h3>
    <textarea id="commenttext"></textarea>
    <span style="color:#4479D4;display:none;float: left;position: relative;left: 870px;top: 7px;">提交成功</span>
    <button id="commentsubmit" class="btn pull-right btn-purp">提交</button>
</div>

<div class="comment">
    @if ((ViewData["TOP3Comment"] as DataTable).Rows.Count != 0)
    {
        <h3 style="color:#de4848">热门评论</h3>
        <div class="hotcomment">
            @foreach (DataRow dr in (ViewData["TOP3Comment"] as DataTable).Rows)
            {
                <p>@dr["COMMENT"]</p>
                <div class="bott">
                    <div class="zan">
                        <div class="zanbtn" commentid="@dr["ID"]"></div>
                        <span class="zannum">@dr["ZANNUM"]</span>
                        <span class="plus1">+1</span>
                        <span class="plus1" style="left:-37px">-1</span>
                    </div>
                    <div class="time">@dr["CREATETIME"]</div>
                </div>
            }
        </div>
    }


    <h3 style="color:#4479D4">最新评论</h3>
    <div id="latestcomment" class="hotcomment">
        @if ((ViewData["Comment"] as DataTable).Rows.Count != 0)
        {
            foreach (DataRow dr in (ViewData["Comment"] as DataTable).Rows)
            {
                <div class="singlecomment">
                    <p>@dr["COMMENT"]</p>
                    <div class="bott">
                        <div class="zan">
                            <div class="zanbtn" commentid="@dr["ID"]"></div>
                            <span class="zannum">@dr["ZANNUM"]</span>
                            <span class="plus1">+1</span>
                            <span class="plus1" style="left:-37px">-1</span>
                        </div>
                        <div class="time">@dr["CREATETIME"]</div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="nocomment">暂无评论喔，快来写下你的独特见解吧</div>
        }

    </div>

</div>
<div class="back"></div>


@*@RenderPage("../shared/footer.cshtml")*@


<script>
    $(document).ready(function () {
        $(".footer").css("position", "relative");
        $(".article").css("min-height", $(window).height() - $(".nav").height() - $(".title").height() - $(".commentarea").height() - $(".comment").height() - $(".footer").height() - 270);
        var Request = new Object();
        Request = GetRequest();
        var newsid = Request["newsid"];

        $.ajax({
            url: '@Href("~/")Home/GetArticle',
            type: 'post',
            data: { newsid: newsid },
            success: function (res) {
                $(".nav").append("<span> > </span><a href='NewsList?NewsType=" + transtoe(res.NewsPage[4]) + "'>" + res.NewsPage[4] + "</a>");
                $(".nav").append("<span> > </span><a>" + res.NewsPage[1] + "</a>");
                $(".mtitle>a").html(res.NewsPage[1]);
                $(".ltitle>a:nth-child(2)").html(res.NewsPage[4]);
                if (res.NewsPage[2] != "") {
                    $(".ltitle").append("<span>编辑：</span><a>" + res.NewsPage[2] + "</a>")
                }
                if (res.NewsPage[3] != "") {
                    $(".ltitle").append("<span>来源：</span><a>" + res.NewsPage[3] + "</a>")
                }
                $(".ltitle").append("<span>发表时间：</span><a>" + res.NewsPage[5] + "</a>")
                $(".article").html(res.NewsPage[6]);
            }
        });

        $(".zanbtn").click(function () {
            var commentid = $(this).attr("commentid");
            var thisbtn = $(this);
            iszaned(commentid, thisbtn, "set");
        });

        $(".zanbtn").each(function () {
            var commentid = $(this).attr("commentid");
            var thisbtn = $(this);
            iszaned(commentid, thisbtn, "get");
        });

        $("#commentsubmit").click(function () {
            var thisbtn = $(this);
            if ($("#commenttext")[0].value != "") {
                if (filterText($("#commenttext")[0].value)) {
                    alert("当前输入内容存在敏感词或不文明词汇，请修改后再提交");
                }
                else {
                    $.ajax({
                        url: '@Href("~/")Home/Commentsubmit',
                        type: 'post',
                        data: { newsid: newsid, comment: $("#commenttext")[0].value },
                        success: function (res) {
                            thisbtn.prev("span").fadeIn();
                            if ($("#latestcomment").children("div").hasClass("nocoment")) {
                                $("#latestcomment").html('<div class="singlecomment"><p>' + $("#commenttext")[0].value + '</p><div class="bott"><div class="zan"><div class="zanbtn" commentid="' + res.id + '"></div><span class="zannum">0</span><span class="plus1">+1</span><span class="plus1" style="left:-37px">-1</span></div><div class="time">' + res.time + '</div></div></div>');
                            }
                            else {
                                $("#latestcomment").prepend('<div class="singlecomment" style="display:none"><p>' + $("#commenttext")[0].value + '</p><div class="bott"><div class="zan"><div class="zanbtn" commentid="' + res.id + '"></div><span class="zannum">0</span><span class="plus1">+1</span><span class="plus1" style="left:-37px">-1</span></div><div class="time">' + res.time + '</div></div></div>');
                                $(".singlecomment:first-child").slideToggle();
                            }
                            $("#commenttext")[0].value = '';
                            setTimeout(function () {
                                thisbtn.prev("span").fadeOut();
                            }, 1000);
                        },
                        error: function (res) {
                            alert("提交失败");
                        }
                    });
                }

            }
            else {
                alert("请填写内容后再提交");
            }
        });
    });

    function GetRequest() {
        var url = location.search; //获取url中"?"符后的字串
        var theRequest = new Object();
        if (url.indexOf("?") != -1) {
            var str = url.substr(1);
            strs = str.split("&");
            for (var i = 0; i < strs.length; i++) {
                theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
            }
        }
        return theRequest;
    }

    function filterText(sText) {
        var Kong = / /gi;
        var BadWords = /tmd|它妈的|他妈的|她妈的|我草|我叼|我吊|我屌|你妹的|你奶奶的/gi;
        var aText = sText.replace(Kong, "");
        return BadWords.test(aText);
    }

    //点赞
    function iszaned(commentid, thisbtn, type) {
        $.ajax({
            url: 'http://whois.pconline.com.cn/ipJson.jsp',
            type: 'get',
            dataType: 'jsonp',
            processData: false,
            success: function (res) {
                $.ajax({
                    url: '@Href("~/")Home/Zan',
                    type: 'post',
                    data: { commentid: commentid, ipaddress: res.ip, type: type },
                    success: function (res) {
                        if (type == "set") {
                            if (res.result == '1') {
                                thisbtn.css("background", "url(@Href("~/")Images/zaned.png) left center no-repeat");
                                thisbtn.css("background-size", "contain");
                                thisbtn.next(".zannum").next(".plus1").css("opacity", "1");
                                thisbtn.next(".zannum").next(".plus1").css("top", "-20px");
                                setTimeout(function () {
                                    thisbtn.next(".zannum").next(".plus1").css("opacity", "0");
                                    thisbtn.next(".zannum").next(".plus1").css("top", "0px");
                                }, 800);
                                thisbtn.next(".zannum").html(parseInt(thisbtn.next(".zannum").html()) + 1);
                            }
                            else {
                                thisbtn.css("background", "url(@Href("~/")Images/zan.png) left center no-repeat");
                                thisbtn.css("background-size", "contain");
                                thisbtn.next(".zannum").next(".plus1").next(".plus1").css("opacity", "1");
                                thisbtn.next(".zannum").next(".plus1").next(".plus1").css("top", "20px");
                                setTimeout(function () {
                                    thisbtn.next(".zannum").next(".plus1").next(".plus1").css("opacity", "0");
                                    thisbtn.next(".zannum").next(".plus1").next(".plus1").css("top", "0px");
                                }, 800);
                                thisbtn.next(".zannum").html(parseInt(thisbtn.next(".zannum").html()) - 1);
                            }
                        }
                        else {
                            if (res.result == '1') {
                                thisbtn.css("background", "url(@Href("~/")Images/zaned.png) left center no-repeat");
                                thisbtn.css("background-size", "contain");
                            }
                        }
                    }
                })
            }
        });
    }
    function transtoe(str) {
        switch (str) {
            case "社会动态": str = "SHDT"; break;
            case "金融财经": str = "JRCJ"; break;
            case "激情体育": str = "JQTY"; break;
            case "科技前沿": str = "KJQY"; break;
            case "汽车资讯": str = "QCZX"; break;
            case "房产": str = "FC"; break;
            case "军事": str = "JS"; break;
            case "娱乐": str = "YL"; break;
            case "健康": str = "JK"; break;
            case "其它": str = "QT"; break;
        }
        return str;
    }
</script>