@using System.Data;

<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a>帐户管理</a>
        </li>
    </ul>
    <div class="search btn-group col-lg-4">
        <select id="select3" class="btn btn2">
            <option value="帐户">帐户</option>
            <option value="权限">权限</option>
        </select>
        <input id="input3" class="pull-left form-control" />
        <button id="search3" class="btn btn3 btn-default">搜索</button>
    </div>
    <div class="pull-right btn-group" style="margin-right:1.9%;">
        <button id="createaccount" class="btn btn4 btn-green">新增</button>
    </div>
    <table id="table3" class="table table-hover fixed-table-container">
        <thead>
            <tr>
                <th width="6%">删除</th>
                <th width="6%">修改</th>
                <th width="24%">帐户</th>
                <th width="23%">密码</th>
                <th width="33%">权限</th>
                <th width="8%">是否可登录</th>
            </tr>
        </thead>
        <tbody id="accounttbody">
            @foreach (DataRow dr in (ViewData["ACCOUNT"] as DataTable).Rows)
            {
                <tr>
                    <td>
                        <a data-toggle="modal" data-target="#DeleteAccountModal" accountid="@dr["ID"]">删除</a>
                    </td>
                    <td>
                        <a accountid="@dr["ID"]">修改</a>
                    </td>
                    <td>@dr["USERNAME"]</td>
                    <td>@dr["PASSWORD"]</td>
                    <td>@dr["AUTHORITY"]</td>
                    <td>@dr["LOGABLE"]</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="num2" class="col-lg-5 hidden">
        当前第
        <span id="nowpage2"></span>页&nbsp;&nbsp;&nbsp;共
        <span id="pagenum2"></span>页&nbsp;&nbsp;&nbsp;共
        <span id="contentnum2"></span>条内容
    </div>
    <div class="pull-right pagechange">
        <ul class="pagination" id="ampagination2"></ul>
    </div>
</div>
<div class="modal fade" id="DeleteAccountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除</h4>
            </div>
            <div class="modal-body">是否删除这个帐户？</div>
            <div class="modal-footer">
                <button id="deleteaccountbtn" type="button" data-dismiss="modal" class="btn btn-green">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="hidden" id="deleteaccountsuccessbtn" data-toggle="modal" data-target="#DeleteSuccessModal"></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(document).ready(function () {
        var accountid = 0;
        $("#createaccount").click(function () {
            $("#Comiframe").html("<iframe id='Commontiframe' src='@Href("~/")Manage/CreateAccount'></iframe>");
            $("#Comiframe").fadeIn(600);
            $("#Comiframeback").fadeIn(600);
        });

        //删除
        $(".table tr td:first-child a").on("click", function () {
            accountid = $(this).attr("accountid");
        });
        $("#deleteaccountbtn").click(function () {
            Delete(accountid);
            $("div.modal-backdrop.fade.in").fadeOut(150);
        });

        $(".table tr td:nth-child(2) a").on("click", function () {
            accountid = $(this).attr("accountid");
            $("#Comiframe").html("<iframe id='Commontiframe' src='@Href("~/")Manage/CreateAccount?ISVIEW=true&ACCOUNTID=" + accountid + "'></iframe>");
            $("#Comiframe").show();
            $("#Comiframeback").show();
        });

        $("#search3").click(function () {
            var tb = document.getElementById("table3");
            search(tb, $("#select3").val(), $("#input3").val());
        });

        spiltpage();
    });
    //列表删除编辑
    function Delete(accountid) {
        $.ajax({
            url: '@Href("~/")Manage/Accountdelete',
            data: { accountid: accountid },
            type: 'post',
            success: function (res) {
                if (res.msg == "success") {
                    $("#deleteaccountsuccessbtn").trigger("click");
                    $.ajax({
                        url: '../Manage/Account',
                        success: function (res) {
                            $("#account").html(res);
                            $("#account").fadeIn().siblings("div").hide();
                        },
                    });
                }
            }
        });
    }
    function spiltpage() {
        {
            var tb = document.getElementById("accounttbody");
            var rownum = tb.rows.length;
            if (tb.rows.length > 16) {
                $("#num2").removeClass("hidden");
                $("#ampagination2").removeClass("hidden");
                var table = [];
                var allrownum = 0;
                if (rownum % 16 == 0) {
                    allrownum = rownum / 16;
                }
                else {
                    allrownum = parseInt(rownum / 16) + 1;
                }
                for (var i = 0; i < allrownum; i++) {
                    table.push([]);
                    for (var j = 16 * i; j < 16 * (i + 1) ; j++) {
                        if (typeof (tb.rows[j]) != "undefined") {
                            table[i].push(tb.rows[j].innerHTML);
                        }
                    }
                }
                for (i = 16; i < rownum; i++) {
                    tb.deleteRow(16);
                }
                $("#nowpage2").html("1");
                $("#pagenum2").html(allrownum);
                $("#contentnum2").html(rownum);
                $('#ampagination2').jqPaginator({
                    totalPages: allrownum,
                    visiblePages: 5,
                    currentPage: 1,

                    first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">尾页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num) {
                        $("#nowpage").html(num);
                        var tb = document.getElementById("tbody2");
                        rownum = tb.rows.length;
                        for (i = 0; i < rownum; i++) {
                            tb.deleteRow(0);
                        }
                        for (var i = 0; i < table[num - 1].length; i++) {
                            var row = tb.insertRow(i);
                            row.innerHTML = table[num - 1][i];
                        }
                    }
                });
            }
            else {
                $("#num2").addClass("hidden");
                $("#ampagination2").addClass("hidden");
            }
        }
    }
</script>