
@using System.Data;

<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a>已归档新闻</a>
        </li>
    </ul>
    <div>
        <div class="search btn-group col-lg-4">
            <select id="select4" class="btn btn2">
                <option value="title">标题</option>
                <option value="author">编辑</option>
                <option value="newstype">新闻类别</option>
            </select>
            <input id="input4" class="pull-left form-control" />
            <select class="form-control mutiselect selectpicker show-tick" name="newstypeselect4" type="text" id="newstypeselect4" multiple data-live-search="false" data-show-content="true" data-none-selected-text="选择" data-actions-box="true" data-deselect-all-text="全不选" data-select-all-text="全选">
                <option value="社会动态">社会动态</option>
                <option value="金融财经">金融财经</option>
                <option value="激情体育">激情体育</option>
                <option value="科技前沿">科技前沿</option>
                <option value="汽车资讯">汽车资讯</option>
                <option value="房产">房产</option>
                <option value="军事">军事</option>
                <option value="娱乐">娱乐</option>
                <option value="健康">健康</option>
                <option value="其它">其它</option>
            </select>
            <button id="search4" class="btn btn3 btn-default">搜索</button>
        </div>

        <table id="table4" class="table table1 table-hover fixed-table-container">
            <thead>
                <tr>
                    <th width="8%">删除</th>
                    <th width="8%">取消归档</th>
                    <th width="10%">新闻类别</th>
                    <th width="35%">标题</th>
                    <th width="25%">编辑</th>
                    <th id="th40" width="14%" class="asc">
                        日期
                        <span class="pull-right glyphicon glyphicon-sort tableGly"></span>
                    </th>
                </tr>
            </thead>
            <tbody id="tbody4">

                @foreach (DataRow dr in (ViewData["Filed"] as DataTable).Rows)
                {
                    <tr>
                        <td>
                            <a data-toggle="modal" data-target="#DeleteModal" newsid="@dr["ID"]">删除</a>
                        </td>
                        <td>
                            <a data-toggle="modal" data-target="#CancelModal" newsid="@dr["ID"]">取消归档</a>
                        </td>
                        <td>@dr["NEWSTYPE"]</td>
                        <td>@dr["TITLE"]</td>
                        <td>@dr["AUTHOR"]</td>
                        <td name="td40">@dr["DATE"]</td>
                    </tr>
                }

            </tbody>
        </table>
        <div id="num4" class="col-lg-5 hidden">
            当前第
            <span id="nowpage4"></span>页&nbsp;&nbsp;&nbsp;共
            <span id="pagenum1"></span>页&nbsp;&nbsp;&nbsp;共
            <span id="contentnum4"></span>条内容
        </div>
        <div class="pull-right pagechange">
            <ul class="pagination" id="ampagination4"></ul>
        </div>
    </div>
</div>
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">删除</h4>
            </div>
            <div class="modal-body">是否删除这条新闻？</div>
            <div class="modal-footer">
                <button id="deletenewsbtn" type="button" data-dismiss="modal" class="btn btn-green">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="hidden" id="deletenewssuccessbtn" data-toggle="modal" data-target="#DeleteSuccessModal"></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">取消归档</h4>
            </div>
            <div class="modal-body">是否取消这条新闻的归档？</div>
            <div class="modal-footer">
                <button id="cancelnewsbtn" type="button" data-dismiss="modal" class="btn btn-green">确定</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="hidden" id="deletenewssuccessbtn" data-toggle="modal" data-target="#DeleteSuccessModal"></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $("#newstypeselect4").selectpicker();
        $("#newstypeselect4").selectpicker('setStyle', 'btn3', 'add');
        $("div.bootstrap-select").addClass("hidden");
        $("#select1").on("change", function () {
            if ($(this).val() == "newstype") {
                $("#input1").addClass("hidden");
                $("div.bootstrap-select").removeClass("hidden");
            }
            else {
                $("#input1").removeClass("hidden");
                $("div.bootstrap-select").addClass("hidden");
            }
        });
        spiltpage();
        var newsid = 0;
        var issearch = "false";
        var array = [[]];
        $("#table4>thead>tr>th").on("click", function () {
            iconChange(this.children);
            SortTable(this, issearch, array);
        });
        $("#tbody4>tr>td:first-child>a").on("click", function () {
            newsid = $(this).attr("newsid");
        });
        $("#tbody4>tr>td:nth-child(2)>a").on("click", function () {
            newsid = $(this).attr("newsid");
        });
        $("#deletenewsbtn").click(function () {
            Delete(newsid);
            $("div.modal-backdrop.fade.in").fadeOut(150);
        });
        $("#cancelnewsbtn").click(function () {
            Cancel(newsid);
            $("div.modal-backdrop.fade.in").fadeOut(150);
        });


        $("#search4").click(function () {
            $("#filed").append('<img class="loading" src="@Href("~/")scripts/fileinput/img/loading-sm.gif" />');
            $("#filed").addClass("loadingback");

            var tb = document.getElementById("tbody4");
            //前端搜索
            //search(tb, $("#select1").val(), $("#input1").val());
            var searchstr = "";
            if ($("#input4").hasClass("hidden")) {
                searchstr = $("#newstypeselect4").val();
            }
            else {
                searchstr = $("#input4").val();
            }
            array = searchinback("NewsPage", $("#select4").val(), searchstr, "filed");
            var rownum = tb.rows.length
            for (i = 0; i < rownum; i++) {
                tb.deleteRow(0);
            }
            for (var i = 0; i < array.length; i++) {
                var row = tb.insertRow(i);
                row.insertCell(0).innerHTML = '<a newsid="' + array[i][0] + '">删除</a>';
                row.insertCell(1).innerHTML = '<a newsid="' + array[i][0] + '">取消归档</a>';
                row.insertCell(2).innerHTML = array[i][4];
                row.insertCell(3).innerHTML = array[i][1];
                row.insertCell(4).innerHTML = array[i][2];
                row.insertCell(5).innerHTML = array[i][5];
            }
            $("#tbody4>tr>td:nth-child(6n)").attr("name", "td40");
            spiltpage();
            if ($("#input4").val() != "") {
                issearch = "true";
            }
            else {
                issearch = "false";
            }
        });

    });

    //分页
    function spiltpage() {
        {
            var tb = document.getElementById("tbody4");
            var rownum = tb.rows.length;
            if (tb.rows.length > 16) {
                $("#num4").removeClass("hidden");
                $("#ampagination1").removeClass("hidden");
                var table = [];
                var allrownum = 0;
                if (rownum % 16 == 0) {
                    allrownum = rownum / 16;
                }
                else {
                    allrownum = parseInt(rownum / 16) + 1;
                }
                for (var i = 0; i < allrownum; i++) {
                    table.push([]);
                    for (var j = 16 * i; j < 16 * (i + 1) ; j++) {
                        if (typeof (tb.rows[j]) != "undefined") {
                            table[i].push(tb.rows[j].innerHTML);
                        }
                    }
                }
                for (i = 16; i < rownum; i++) {
                    tb.deleteRow(16);
                }
                $("#nowpage4").html("1");
                $("#pagenum4").html(allrownum);
                $("#contentnum4").html(rownum);
                $('#ampagination4').jqPaginator({
                    totalPages: allrownum,
                    visiblePages: 5,
                    currentPage: 1,

                    first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">尾页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num) {
                        $("#nowpage4").html(num);
                        var tb = document.getElementById("tbody4");
                        rownum = tb.rows.length;
                        for (i = 0; i < rownum; i++) {
                            tb.deleteRow(0);
                        }
                        for (var i = 0; i < table[num - 1].length; i++) {
                            var row = tb.insertRow(i);
                            row.innerHTML = table[num - 1][i];
                        }
                    }
                });
            }
            else {
                $("#num4").addClass("hidden");
                $("#ampagination4").addClass("hidden");
            }

            $("img.loading").fadeOut();
            $("#filed").removeClass("loadingback");
        }
    }
    //列表排序
    function sortNumberAsc(a, b) {
        return trans(a) - trans(b);
    }
    function sortNumberDesc(a, b) {
        return trans(b) - trans(a);
    }
    function sortDateAsc(a, b) {
        if (a > b) {
            return 1;
        }
        else if (a == b) {
            return 0;
        }
        else if (a < b) {
            return -1;
        }
    }
    function sortDateDesc(a, b) {
        if (b > a) {
            return 1;
        }
        else if (b == a) {
            return 0;
        }
        else if (b < a) {
            return -1;
        }
    }
    function trans(str) {
        if (str == "是") {
            str = "1";
        }
        else if (str == "否") {
            str = "0";
        }
        else {

        }
        return str;
    }
    function SortTable(obj, issearch, array) {
        var tb = document.getElementById("tbody4");
        rownum = tb.rows.length;
        var sort = obj.className;
        if (issearch == "true") {
            for (i = 0; i < rownum; i++) {
                tb.deleteRow(0);
            }
            for (var i = 0; i < array.length; i++) {
                var row = tb.insertRow(i);
                row.insertCell(0).innerHTML = '<a newsid="' + array[i][0] + '">删除</a>';
                row.insertCell(1).innerHTML = '<a newsid="' + array[i][0] + '">取消归档</a>';
                row.insertCell(2).innerHTML = array[i][1];
                row.insertCell(3).innerHTML = array[i][2];
                row.insertCell(4).innerHTML = array[i][4];
                row.insertCell(5).innerHTML = array[i][5];
            }
            $("#tbody4>tr>td:nth-child(6n)").attr("name", "td40");

            var td0s = document.getElementsByName("td40");

            var tdArray0 = [];

            for (var i = 0; i < td0s.length; i++) {
                tdArray0.push(td0s[i].innerHTML);
            }
            var tds = document.getElementsByName("td" + obj.id.substr(2, 2));
            var columnArray = [];

            for (var i = 0; i < tds.length; i++) {
                columnArray.push(tds[i].innerHTML);
            }


            var orginArray = [];
            for (var i = 0; i < columnArray.length; i++) {
                orginArray.push(columnArray[i]);
            }
            columnArray.sort(sortDateDesc);
            if (obj.className == "asc") {
                obj.className = "desc";
            } else {
                obj.className = "asc";
            }
            for (var i = 0; i < columnArray.length; i++) {
                for (var j = 0; j < orginArray.length; j++) {
                    if (orginArray[j] == columnArray[i]) {
                        document.getElementsByName("td40")[i].innerHTML = tdArray0[j];
                        orginArray[j] = null;
                        break;
                    }
                }
            }
            spiltpage();
        }
        else {
            var column = "date";
            $.ajax({
                url: '@Href("~/")Manage/sort',
                type: 'post',
                data: { sort: sort, type: 'filed', column: column },
                success: function (res) {
                    var tb = document.getElementById("tbody4");
                    var array = [[]];
                    array = res.sortlist;
                    var rownum = tb.rows.length
                    for (i = 0; i < rownum; i++) {
                        tb.deleteRow(0);
                    }
                    for (var i = 0; i < array.length; i++) {
                        var row = tb.insertRow(i);
                        row.insertCell(0).innerHTML = '<a newsid="' + array[i][0] + '">删除</a>';
                        row.insertCell(1).innerHTML = '<a newsid="' + array[i][0] + '">取消归档</a>';
                        row.insertCell(2).innerHTML = array[i][1];
                        row.insertCell(3).innerHTML = array[i][2];
                        row.insertCell(4).innerHTML = array[i][3];
                        row.insertCell(5).innerHTML = array[i][4];
                    }
                    if (obj.className == "asc") {
                        obj.className = "desc";
                    } else {
                        obj.className = "asc";
                    }
                    spiltpage();
                }
            });
        }
    }
    function iconChange(obj) {

        if ($(obj).parent("th").hasClass("desc")) {
            $(obj).removeClass("glyphicon-sort-by-attributes").addClass("glyphicon-sort-by-attributes-alt");
            $(obj).parent("th").siblings("th").children("span").removeClass("glyphicon-sort-by-attributes").removeClass("glyphicon-sort-by-attributes-alt").addClass("glyphicon-sort");
        }
        else if ($(obj).parent("th").hasClass("asc")) {
            $(obj).removeClass("glyphicon-sort-by-attributes-alt").addClass("glyphicon-sort-by-attributes");
            $(obj).parent("th").siblings("th").children("span").removeClass("glyphicon-sort-by-attributes").removeClass("glyphicon-sort-by-attributes-alt").addClass("glyphicon-sort");
        }
        else if ($(obj).hasClass("glyphicon-sort")) {
            $(obj).removeClass("glyphicon-sort").addClass("glyphicon-sort-by-attributes");
            $(obj).parent("th").siblings("th").children("span").removeClass("glyphicon-sort-by-attributes").removeClass("glyphicon-sort-by-attributes-alt").addClass("glyphicon-sort");
        }
    }

    //列表删除编辑
    function Delete(newsid) {
        $.ajax({
            url: '@Href("~/")Manage/delete',
            data: { newsid: newsid },
            type: 'post',
            success: function (res) {
                if (res.msg == "success") {
                    $("#deletenewssuccessbtn").trigger("click");
                    $.ajax({
                        url: '../Manage/Filed',
                        success: function (res) {
                            $("#filed").html(res);
                            $("#filed").fadeIn().siblings("div").hide();
                        },
                    });
                }
            }
        });
    }

    //取消归档
    function Cancel(newsid) {
        $.ajax({
            url: '@Href("~/")Manage/CancelFiled',
            data: { newsid: newsid },
            type: 'post',
            success: function (res) {
                if (res.msg == "success") {
                    $("#submitsuccessbtn").trigger("click");
                    $.ajax({
                        url: '../Manage/Filed',
                        success: function (res) {
                            $("#filed").html(res);
                            $("#filed").fadeIn().siblings("div").hide();
                        },
                    });
                }
            }
        })
    }

    //批量操作
    function mutichoose(but) {
        var tableid = but.next("table").attr("id");
        if ($("#" + tableid).children("thead").children("tr").children("th:first-child").text() != "选择") {
            $("#mutidelete").css("left", "0");
            $("#mutifile").css("right", "0");
            $("#" + tableid).children("thead").children("tr").children("th:nth-child(4)").attr("width", "27%");
            $("#" + tableid).children("thead").children("tr").prepend("<th width='3%'>选择</th>");
            for (var i = 0; i < document.getElementById(tableid).rows.length; i++) {
                var tr = $("#" + tableid).children("tbody").children("tr:nth-child(" + (i + 1) + ")");
                var td = tr.children("td:first-child");
                tr.prepend("<td><input newsid='" + td.children("a").attr("newsid") + "' type='checkbox'/></td>");
            }

            var newsids = [];
            $("table tbody tr td:not(:first-child)").click(function () {
                if ($(this).siblings("td:first-child").children("input").get(0).checked) {
                    $(this).siblings("td:first-child").children("input").removeAttr("checked");
                    newsids.splice(newsids.indexOf($(this).siblings("td:first-child").children("input").attr("newsid")), 1);
                }
                else {
                    $(this).siblings("td:first-child").children("input").prop("checked", "checked");
                    newsids.push($(this).siblings("td:first-child").children("input").attr("newsid"));
                }
            });
            $("table tbody td input[type='checkbox']").change(function () {
                if (this.checked) {
                    newsids.push($(this).attr("newsid"));
                }
                else {
                    newsids.splice(newsids.indexOf($(this).attr("newsid")), 1);
                }
            });
            //批量删除
            $("#mutidelete").click(function () {
                if (newsids != []) {
                    var newsidss = newsids.join(",");
                    $("#deletenewsbtn").click(function () {
                        Delete(newsidss);
                        $("div.modal-backdrop.fade.in").fadeOut(150);
                    });
                }
                else {
                    alert("请选择选项后才执行删除操作");
                }
            });
            //批量归档
            $("#mutifile").click(function () {
                if (newsids != []) {
                    var newsidss = newsids.join(",");
                    $.ajax({
                        url: '@Href("~/")Manage/file',
                        data: { newsid: newsidss },
                        type: 'post',
                        success: function (res) {
                            if (res.msg == "success") {
                                $("#submitsuccessbtn").trigger("click");
                                $.ajax({
                                    url: '../Manage/Newsedit',
                                    success: function (res) {
                                        $("#newsedit").html(res);
                                    },
                                });
                            }
                        }
                    });
                }
                else {
                    alert("请选择选项后才执行归档操作");
                }
            });
        }
        else {
            $("#mutidelete").css("left", "60px");
            $("#mutifile").css("right", "60px");
            $("#" + tableid).children("thead").children("tr").children("th:nth-child(5)").attr("width", "30%");
            $("#" + tableid).children("thead").children("tr").children("th:first-child").remove();
            for (var i = 0; i < document.getElementById(tableid).rows.length; i++) {
                var tr = $("#" + tableid).children("tbody").children("tr:nth-child(" + (i + 1) + ")");
                var td = tr.children("td:first-child");
                td.remove();
            }
        }

    }
</script>
