@using System.Data;

<link href="~/CSS/indexconfig.css" rel="stylesheet" />

<div class="main">
    <div id="sider" class="sider">
        <div class="totop glyphicon glyphicon-chevron-up"></div>
        <ul class="newstypelist">
            <li class="active">社会动态</li>
            <li>金融财经</li>
            <li>激情体育</li>
            <li>科技前沿</li>
            <li>汽车资讯</li>
            <li>房产</li>
            <li>军事</li>
            <li>娱乐</li>
            <li>健康</li>
            <li>其它</li>
        </ul>
        <div class="tobottom glyphicon glyphicon-chevron-down"></div>
    </div>
    <div id="content" class="content">
        <div id="shdt" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["SHDT"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>社会动态<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["SHDT_W"] as DataTable).Rows)
                    { 
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>

        <div id="jrcj" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-4 col-md-4 col-xs-4">
                @foreach (DataRow dr in (ViewData["JRCJ"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside PWinsidefull" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@dr["PICORIGIN"]" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-8 col-md-8 col-xs-8">
                <div class="shadowblock">
                    <a>金融财经<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["JRCJ_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>

            </div>
        </div>

        <div id="jqty" class="typedetail col-lg-12 col-md-12">
            <div class="W col-lg-8 col-md-8 col-xs-8">
                <div class="shadowblock">
                    <a>激情体育<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["JQTY_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="PW col-lg-4 col-md-4 col-xs-4">
                @foreach (DataRow dr in (ViewData["JQTY"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@dr["PICORIGIN"]" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
        <div id="kjqy" class="typedetail col-lg-12 col-md-12">
            <div class="W col-lg-8 col-md-8 col-xs-8">
                <div class="shadowblock">
                    <a>科技前沿<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["KJQY_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>
            <div class="PW col-lg-4 col-md-4 col-xs-4">
                @foreach (DataRow dr in (ViewData["KJQY"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@dr["PICORIGIN"]" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
        </div>
        <div id="qczx" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["QCZX"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>汽车资讯<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["QCZX_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>


        </div>
        <div id="fc" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["FC"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>房产<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["FC_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div id="js" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["JS"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>军事<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["JS_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div id="yl" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["YL"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>娱乐<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["YL_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div id="jk" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["JK"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>健康<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["JK_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>
        <div id="qt" class="typedetail col-lg-12 col-md-12">
            <div class="PW col-lg-8 col-md-8 col-xs-8">
                @foreach (DataRow dr in (ViewData["QT"] as DataTable).Rows)
                {
                    <div class="imgupload PWinside" type="@dr["NEWSTYPE"]" num="@dr["TYPENUM"]">
                        @if (dr["TYPENUM"].ToString() == dr["TYPENUM"].ToString())
                        {
                            <img src="@(dr["PICORIGIN"])" />
                            <a href="javascript:void(0)">@dr["TITLE"]</a>
                            if (dr["RESUME"].ToString() != "")
                            {
                                <p>@dr["RESUME"]</p>
                                <div class="imgback"></div>
                            }
                        }
                    </div>
                }
            </div>
            <div class="W col-lg-4 col-md-4 col-xs-4">
                <div class="shadowblock">
                    <a>其它<span class="glyphicon more"></span></a>
                </div>
                <ul class="list-group">
                    @foreach (DataRow dr in (ViewData["QT_W"] as DataTable).Rows)
                    {
                        <li class="list-group-item">
                            @if (dr["ISTOP"].ToString() == "是")
                            {
                                <a newsid="@dr["ID"]" class="redfont">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                            else
                            {
                                <a newsid="@dr["ID"]" class="">@dr["TITLE"]</a>
                                <span>[@dr["DATE2"]]</span>
                            }
                        </li>
                    }
                </ul>
            </div>

        </div>

    </div>
</div>


<div class="picupload" style="display:none">
    <ul class="nav nav-tabs nav-tabs2">
        <li class="active" style="margin-right: 0px;">
            <a>图片上传</a>
        </li>
        <li style="float:right;">
            <button id="pictoback2" class="btn danger" style="font-size: 20px;padding: 6px 15px;border: none;">X</button>
        </li>
        <li style="float:right;">
            <button id="picsubmit2" type="submit" class="btn btn5 btn-default pull-right" style="border: none;">提交</button>

            <button class="hidden" id="piceditsuccessbtn2" data-toggle="modal" data-target="#EditSuccessModal"></button>
        </li>
    </ul>
    <form id="picform2">
        <div class="col-lg-11 col-md-11 col-sm-11 form-group" enctype="multipart/form-data" role="form">
            <label for="pictitle2" class="col-lg-2 col-md-2 col-sm-3 control-label">标题</label>
            <input id="pictitle2" name="pictitle" class="form-control" />
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 form-group">
            <label for="resume2" class="col-lg-2 col-md-2 col-sm-3 control-label">简述</label>
            <input id="resume2" name="resume" class="form-control" />
        </div>
        <div class="col-lg-11 col-md-11 col-sm-11 form-group">
            <label for="tourl2" class="col-lg-2 col-md-2 col-sm-3 control-label">跳转连接</label>
            <input id="tourl2" name="tourl" class="form-control" />
        </div>
        <div class="col-lg-11 form-group">
            <label for="picorigin2" class="col-lg-2 col-md-2 col-sm-3 control-label">图片源</label>
            <input id="picorigin2" name="picorigin" class="form-control" placeholder="可使用网络图片或上传图片" />
        </div>
        <div id="prepicview2" class="col-lg-6 col-md-5 col-sm-5">
            <label id="previewlabel2" style="width:28%;text-align:right;float:left">图片预览：</label>
            <div class="pull-right" data-control-type="button" style="margin:0 13% 0 0;">
                <button id="delete2" type="button" class="btn btn-danger" name="">删除</button>
            </div>
            <div style="clear:both"></div>
            <div id='preimg2'></div>
        </div>
        <div id="nowpicview2" class="col-lg-5 col-md-5 col-sm-5">
            <label style="width:100%;text-align:left">图片上传：</label>
            <input id="picupload2" class="form-control" type="file" />
        </div>
        <input id="type2" name="type" class="hidden" />
        <input id="typenum2" name="typenum" class="hidden" />
    </form>
</div>

<script>
    $(document).ready(function () {
        var type = "";
        var num = "";
        $("#shdt").css("display", "block");

        $("#delete2").hide();
        $("#previewlabel2").hide();

        $("#sider>ul>li").click(function () {
            $(this).addClass("active");
            $(this).siblings("li").removeClass("active");
            Switch($(this).text());
        });

        $(".content .imgupload").click(function () {
            type = $(this).attr("type");
            num = $(this).attr("num");

            $("#picupload2").fileinput({ 'showPreview': true, 'uploadAsync': true, 'allowedFileTypes': ['image'], 'maxFileCount': 1, 'maxFileSize': 4096, 'msgSizeTooLarge': '文件 "{name}" ({size} KB) 超过最大可上传文件大小 {maxSize} KB. 请重新上传!', 'msgInvalidFileType': '该文件格式"{name}"无效. 只支持 "{types}" 的文件格式.', 'msgValidationError': '文件上传异常', 'uploadUrl': '@Href("~/")Manage/Picupload', 'uploadExtraData': { "type": type, "num": num } }).on("fileuploaded", function (event, data) {
                if (data.response.url) {
                    document.getElementById("picorigin2").value = data.response.url;
                }
                else {
                    alert(data.response.msg);
                }
            });

            $.ajax({
                url: '@Href("~/")manage/ConfigPic',
                type: 'post',
                data: { SG: "get", type: type, num: num },
                success: function (res) {
                    $("#picid2").val(res.piclist[0])
                    $("#pictitle2").val(res.piclist[1]);
                    $("#picorigin2").val(res.piclist[2]);
                    $("#tourl2").val(res.piclist[3]);
                    $("#resume2").val(res.piclist[8]);
                    $("#type2").val(type);
                    $("#typenum2").val(num);
                    if (document.getElementById("picorigin2").value) {
                        $("#delete2").fadeIn();
                        $("#previewlabel2").fadeIn();
                        $("#prepicview2").height($(".picupload").height() * 0.5);
                        $("#nowpicview2").height($(".picupload").height() * 0.5);
                        $("#preimg2").css("background", "url('" + document.getElementById("picorigin2").value + "') no-repeat 50% 50%");
                        $("#preimg2").css("background-size", "contain");
                    }
                }
            });

            $("#Comiframeback").fadeIn();
            $(".picupload").fadeIn();
        });


        $("#pictoback2").click(function () {
            $("#Comiframeback").fadeOut();
            $(".picupload").fadeOut();

        });

        $("#picsubmit2").click(function () {
            var formdata = new FormData($("#picform2")[0]);

            $.ajax({
                url: '@Href("~/")manage/ConfigPic',
                traditional: true,
                data: formdata,
                type: 'post',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.msg == "success") {
                        $("#submitsuccessbtn").trigger("click");
                        $("#SubmitSuccessModal").click(function () {
                            $("#pictoback2").trigger("click");
                            $.ajax({
                                url: '../Manage/indexConfig',
                                success: function (res) {
                                    $("#indexconfig").html(res);
                                },
                            });
                        });
                    }
                    else {
                        alert(res.msg);
                    }
                }
            });
        });

        //新闻分类选择
        function Switch(type) {
            switch (type) {
                case "社会动态": {
                    $("#shdt").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "金融财经": {
                    $("#jrcj").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "激情体育": {
                    $("#jqty").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "科技前沿": {
                    $("#kjqy").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "汽车资讯": {
                    $("#qczx").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "房产": {
                    $("#fc").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "军事": {
                    $("#js").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "娱乐": {
                    $("#yl").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "健康": {
                    $("#jk").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
                case "其它": {
                    $("#qt").fadeIn(300).siblings("div").fadeOut(150);
                    break;
                }
            }
        }

        $(".PWinside").mouseenter(function () {
            $(this).children(".imgback").height($(this).height());
            $(this).children(".imgback").css("top", -28 - 1 * $(this).children("p").height() - $(this).height()).css("opacity", "1");
            $(this).children("a").css("top", -28 - $(this).children("p").height());
            $(this).children("p").css("top", -28 - $(this).children("p").height()).css("opacity", "1");
        });
        $(".PWinside").mouseleave(function () {
            $(this).children(".imgback").height(0);
            $(this).children(".imgback").css("top", -28 - 1 * $(this).children("p").height()).css("opacity", "0");
            $(this).children("a").css("top", -28);
            $(this).children("p").css("top", -28).css("opacity", "0");
        });


        $(".W .list-group-item a[istop='是']").addClass("redfont");
        $(".W .list-group-item a").click(function () {
            window.open("NewsPage?newsid=" + $(this).attr("newsid"));
        });
    });

</script>