@using System.Data;

<div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a>图片轮播</a>
        </li>
    </ul>
    <div class="search btn-group col-lg-4">
        <select id="select0" class="btn btn2">
            <option value="title">标题</option>
        </select>
        <input id="input0" class="pull-left form-control" />
        <button id="search0" class="btn btn3 btn-default">搜索</button>
    </div>
    <div class="pull-right btn-group" style="margin-right:1.9%;">
        <button id="createpic" class="btn btn4 btn-green">新增</button>
        <button class="mutichoose btn btn4 btn-green" ismuti="false">批量处理</button>
        <button class="mutidelete btn btn4 btn-danger" style="right:60px" data-toggle="modal" data-target="#DeletepicModal">删除</button>
    </div>
    <table id="table0" class="table table-hover fixed-table-container">
        <thead>
            <tr>
                <th width="6%">删除</th>
                <th width="6%">修改</th>
                <th width="50%">标题</th>
                <th width="30%">跳转链接</th>
                <th width="8%">是否展示</th>
            </tr>
        </thead>
        <tbody id="pictbody">
            @foreach (DataRow dr in (ViewData["PICLIST"] as DataTable).Rows)
            {
                <tr>
                    <td>
                        <a data-toggle="modal" data-target="#DeletepicModal" picid="@dr["ID"]">删除</a>
                    </td>
                    <td>
                        <a picid="@dr["ID"]">修改</a>
                    </td>
                    <td>@dr["TITLE"]</td>
                    <td>@dr["TOURL"]</td>
                    <td>@dr["STATUS"]</td>
                </tr>
            }
        </tbody>
    </table>
    <div id="picnum" class="col-lg-5 hidden">
        当前第
        <span id="picnowpage"></span>页&nbsp;&nbsp;&nbsp;共
        <span id="picpagenum"></span>页&nbsp;&nbsp;&nbsp;共
        <span id="piccontentnum"></span>条内容
    </div>
    <div class="pull-right pagechange">
        <ul class="pagination" id="picampagination"></ul>
    </div>
</div>

<div class="picupload">
    <ul class="nav nav-tabs">
        <li class="active" style="margin-right: 0px;">
            <a>图片上传</a>
        </li>
        <li>
            <button id="pictoback" class="btn btn5 btn-default">返回</button>
        </li>
        <li style="margin-right: 1.6%;float:right">
            <button id="picsubmit" type="submit" class="btn btn5 btn-default">提交</button>

            <button class="hidden" id="piceditsuccessbtn" data-toggle="modal" data-target="#EditSuccessModal"></button>
        </li>
    </ul>
    <form id="picform">
        <div class="col-lg-11 form-group" enctype="multipart/form-data" role="form">
            <label for="pictitle" class="col-lg-2 col-md-2 col-sm-3 control-label">标题</label>
            <input id="pictitle" name="pictitle" class="form-control" />
        </div>
        <div class="col-lg-11 form-group">
            <label for="status" class="col-lg-2 col-md-2 col-sm-3 control-label">是否展示</label>
            <select id="status" name="status" class="form-control">
                <option value="是">是</option>
                <option value="否">否</option>
            </select>
        </div>
        <div class="col-lg-11 form-group">
            <label for="tourl" class="col-lg-2 col-md-2 col-sm-3 control-label">跳转连接</label>
            <input id="tourl" name="tourl" class="form-control" />
        </div>
        <div class="col-lg-11 form-group">
            <label for="picorigin" class="col-lg-2 col-md-2 col-sm-3 control-label">图片源</label>
            <input id="picorigin" name="picorigin" class="form-control" placeholder="可使用网络图片或上传图片" />
        </div>
        <div id="prepicview" class="col-lg-6 col-md-5 col-sm-5">
            <label id="previewlabel" style="width:28%;text-align:right;float:left">图片预览：</label>
            <div class="pull-right" data-control-type="button" style="margin:0 13% 0 0;">
                <button id="delete" type="button" class="btn btn-danger" name="">删除</button>
            </div>
            <div style="clear:both"></div>
            <div id='preimg'></div>
        </div>
        <div id="nowpicview" class="col-lg-5 col-md-5 col-sm-5">
            <label style="width:100%;text-align:left">图片上传：</label>
            <input id="picupload" class="form-control" type="file" />
        </div>
        <input id="picid" name="picid" class="hidden" />
    </form>
</div>
<div class="modal fade" id="DeletepicModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">新闻发布管理系统</h4>
            </div>
            <div class="modal-body">确定进行删除操作？</div>
            <div class="modal-footer">
                <button id="deletepicbtn" type="button" data-dismiss="modal" class="btn btn-green">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button class="hidden" id="deletepicsuccessbtn" data-toggle="modal" data-target="#DeleteSuccessModal"></button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<script>
    $(document).ready(function () {
        var id = "";
        $("#delete").hide();
        $("#previewlabel").hide();
        $("#table0>tbody>tr>td:first-child>a").click(function () {
            id = $(this).attr("picid");
        });
        $("#deletepicbtn").click(function () {
            Delete(id);
        });
        $("#table0>tbody>tr>td:nth-child(2)>a").click(function () {
            id = $(this).attr("picid");
            $("#picid").val(id);
            $.ajax({
                url: "@Href("~/")Manage/editPic",
                data: { id: id, type: "get" },
                type: "post",
                success: function (res) {
                    if (res.msg == "success") {
                        $("#preimg").css("background", "");
                        document.getElementById("picform").reset();

                        $("#Comiframeback").fadeIn();
                        $("#picid").val(res.piclist[0])
                        $("#pictitle").val(res.piclist[1]);
                        $("#picorigin").val(res.piclist[2]);
                        $("#tourl").val(res.piclist[3]);
                        $("#status").val(res.piclist[4]);
                        $("#picsubmit").attr("type", "edit");
                        $(".picupload").fadeIn();
                        if (document.getElementById("picorigin").value) {
                            $("#delete").fadeIn();
                            $("#previewlabel").fadeIn();
                            $("#prepicview").height($(".picupload").height() * 0.5);
                            $("#nowpicview").height($(".picupload").height() * 0.5);
                            $("#preimg").css("background", "url('" + document.getElementById("picorigin").value + "') no-repeat 50% 50%");
                            $("#preimg").css("background-size", "contain");
                        }
                    }
                    else {
                        alert(res.msg);
                    }
                }
            });

        });
        $("#createpic").click(function () {
            $("#picsubmit").attr("type", "create");
            $("#preimg").css("background", "");
            document.getElementById("picform").reset();
            $("#Comiframeback").fadeIn();
            $(".picupload").fadeIn();
        });
        $("#pictoback").click(function () {
            $("#Comiframeback").fadeOut();
            $(".picupload").fadeOut();
            $("#delete").fadeOut();
            $("#previewlabel").fadeOut();

        });
        $("#picupload").fileinput({ 'showPreview': true, 'uploadAsync': true, 'allowedFileTypes': ['image'], 'maxFileCount': 1, 'maxFileSize': 4096, 'msgSizeTooLarge': '文件 "{name}" ({size} KB) 超过最大可上传文件大小 {maxSize} KB. 请重新上传!', 'msgInvalidFileType': '该文件格式"{name}"无效. 只支持 "{types}" 的文件格式.', 'msgValidationError': '文件上传异常', 'uploadUrl': '@Href("~/")Manage/Picupload' }).on("fileuploaded", function (event, data) {

            if (data.response.url) {
                document.getElementById("picorigin").value = data.response.url;
            }
            else {
                alert(data.response.msg);
            }
        });
        $("#picsubmit").click(function () {
            var formdata = new FormData($("#picform")[0]);
            var url = "";
            if ($(this).attr("type") == "edit") {
                url = "@Href("~/")Manage/editPic";
            }
            else {
                url = "@Href("~/")Manage/setPic";
            }
            $.ajax({
                url: url,
                traditional: true,
                data: formdata,
                type: 'post',
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                success: function (res) {
                    if (res.msg == "success") {
                        $("#submitsuccessbtn").trigger("click");
                        $("#SubmitSuccessModal").click(function () {
                            $("#pictoback").trigger("click");
                            $.ajax({
                                url: '../Manage/Picauto',
                                success: function (res) {
                                    $("#pic").html(res);
                                },
                            });
                        });
                    }
                    else {
                        alert(res.msg);
                    }
                }
            });
        });

        $("#delete").click(function () {
            var url = document.getElementById("picorigin").value;
            var str = url.split("/");
            var filename = str[str.length - 1];
            $.ajax({
                url: "@Href("~/")Manage/deletePic",
                data: { filename: filename, type: "pic" },
                type: "post",
                success: function (res) {
                    if (res.msg == "success") {
                        alert("删除成功");
                        //window.location.reload();
                        document.getElementById("prepicview").value = "";
                        document.getElementById("prepicview").innerHTML = "";
                        $("#delete").hide();
                    }
                    else {
                        alert(res.msg);
                    }
                }
            });
        });

        spiltpage();

        $("#search0").click(function () {
            $("#main").append('<img class="loading" src="@Href("~/")scripts/fileinput/img/loading-sm.gif" />');
            $("#pic").addClass("loadingback");

            var tb = document.getElementById("pictbody");
            //前端搜索
            //search(tb, $("#select1").val(), $("#input1").val());
            var searchstr = "";
            searchstr = $("#input0").val();
            array = searchinback("PIC", $("#select0").val(), searchstr, "pic");
            var rownum = tb.rows.length
            for (i = 0; i < rownum; i++) {
                tb.deleteRow(0);
            }
            for (var i = 0; i < array.length; i++) {
                var row = tb.insertRow(i);
                row.insertCell(0).innerHTML = '<a newsid="' + array[i][0] + '">删除</a>';
                row.insertCell(1).innerHTML = '<a newsid="' + array[i][0] + '">编辑</a>';
                row.insertCell(2).innerHTML = array[i][1];
                row.insertCell(3).innerHTML = array[i][2];
                row.insertCell(4).innerHTML = array[i][3];
            }
            spiltpage();
        });

        $(".mutichoose").click(function () {
            mutichoose($(this).parent("div"));
        });
    });

    //分页
    function spiltpage() {
        {
            var tb = document.getElementById("pictbody");
            var rownum = tb.rows.length;
            if (tb.rows.length > 16) {
                $("#picnum").removeClass("hidden");
                $("#picampagination").removeClass("hidden");
                var table = [];
                var allrownum = 0;
                if (rownum % 16 == 0) {
                    allrownum = rownum / 16;
                }
                else {
                    allrownum = parseInt(rownum / 16) + 1;
                }
                for (var i = 0; i < allrownum; i++) {
                    table.push([]);
                    for (var j = 16 * i; j < 16 * (i + 1) ; j++) {
                        if (typeof (tb.rows[j]) != "undefined") {
                            table[i].push(tb.rows[j].innerHTML);
                        }
                    }
                }
                for (i = 16; i < rownum; i++) {
                    tb.deleteRow(16);
                }
                $("#picnowpage").html("1");
                $("#picpagenum").html(allrownum);
                $("#piccontentnum").html(rownum);
                $('#picampagination').jqPaginator({
                    totalPages: allrownum,
                    visiblePages: 5,
                    currentPage: 1,

                    first: '<li class="first"><a href="javascript:void(0);">首页</a></li>',
                    prev: '<li class="prev"><a href="javascript:void(0);">上一页</a></li>',
                    next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
                    last: '<li class="last"><a href="javascript:void(0);">尾页</a></li>',
                    page: '<li class="page"><a href="javascript:void(0);">{{page}}</a></li>',
                    onPageChange: function (num) {
                        $("#picnowpage").html(num);
                        var tb = document.getElementById("pictbody");
                        rownum = tb.rows.length;
                        for (i = 0; i < rownum; i++) {
                            tb.deleteRow(0);
                        }
                        for (var i = 0; i < table[num - 1].length; i++) {
                            var row = tb.insertRow(i);
                            row.innerHTML = table[num - 1][i];
                        }
                    }
                });
            }
            else {
                $("#picnum").addClass("hidden");
                $("#picampagination").addClass("hidden");
            }
        }
        $("img.loading").fadeOut();
        $("#pic").removeClass("loadingback");
    }

    //删除
    function Delete(id) {
        $.ajax({
            url: "@Href("~/")Manage/deletePic",
            data: { id: id, type: "list" },
            type: "post",
            success: function (res) {
                if (res.msg == "success") {
                    $("#deletepicsuccessbtn").trigger("click");
                    $.ajax({
                        url: '../Manage/Picauto',
                        success: function (res) {
                            $("#pic").html(res);
                        },
                    });
                }
                else {
                    alert(res.msg);
                }
            }
        });
    }

    //批量操作
    var picids = [];
    function mutichoose(but) {
        var tableid = but.next("table").attr("id");
        if ($("#" + tableid).children("thead").children("tr").children("th:first-child").text() != "选择") {
            $(".mutidelete").css("right", "0");
            $("#" + tableid).children("thead").children("tr").children("th:nth-child(4)").attr("width", "27%");
            $("#" + tableid).children("thead").children("tr").prepend("<th width='3%'>选择</th>");
            for (var i = 0; i < document.getElementById(tableid).rows.length; i++) {
                var tr = $("#" + tableid).children("tbody").children("tr:nth-child(" + (i + 1) + ")");
                var td = tr.children("td:first-child");
                tr.prepend("<td><input picid='" + td.children("a").attr("picid") + "' type='checkbox'/></td>");
            }

            $("table tbody tr td:not(:first-child)").on("click", function () {
                if ($(this).siblings("td:first-child").children("input").get(0).checked) {
                    $(this).siblings("td:first-child").children("input").removeAttr("checked");
                    picids.splice(picids.indexOf($(this).siblings("td:first-child").children("input").attr("picid")), 1);
                }
                else {
                    $(this).siblings("td:first-child").children("input").prop("checked", "checked");
                    picids.push($(this).siblings("td:first-child").children("input").attr("picid"));
                }
            });
            $("table tbody td input[type='checkbox']").on("change", function () {
                if (this.checked) {
                    picids.push($(this).attr("picid"));
                }
                else {
                    picids.splice(picids.indexOf($(this).attr("picid")), 1);
                }
            });
            //批量删除
            $(".mutidelete").click(function () {
                if (picids != []) {
                    var picidss = picids.join(",");
                    $("#deletepicbtn").click(function () {
                        Delete(picidss);
                        $("div.modal-backdrop.fade.in").fadeOut(150);
                    });
                }
                else {
                    alert("请选择选项后才执行删除操作");
                }
            });
        }
        else {
            $(".mutidelete").css("right", "60px");
            $("#" + tableid).children("thead").children("tr").children("th:nth-child(5)").attr("width", "30%");
            $("#" + tableid).children("thead").children("tr").children("th:first-child").remove();
            for (var i = 0; i < document.getElementById(tableid).rows.length; i++) {
                var tr = $("#" + tableid).children("tbody").children("tr:nth-child(" + (i + 1) + ")");
                var td = tr.children("td:first-child");
                td.remove();
            }
        }

    }
</script>
